<h1 class="is-size-1"><%= link_to @project.title, project_path(@project) %></h1>
<p class="is-size-4"><%= @project.description %></p>
<% if @project.issues.any? %>
<h2 class="is-size-2">Issues</h2>
<% @project.issues.each do |i| %>
<%= render partial: 'issues/issue', locals: { issue: i } %>
<% end %>
<% else %>
<h2 class="is-size-2"%>No Issues... Yet!</h2>
<% end %>
