  <h1 class="is-size-1">Let's build something great together <%= @user.username %>!</h1>
  <% current_user.projects.each do |p| %>
  <%= link_to "#{p.title}: #{p.category}", p, class: "is-size-3" %><br>
  <% end %>
  <%= link_to "Create New Project", new_project_path, class:"button is-success" %>
