<h1 class="is-size-1 has-text-info">Welcome To Forge And Fix!</h1>
<p class="is-size-3">This is a place for people to share ideas and work on projects together.</p>
<h2 class="is-size-2">How It Works</h2>
<p class="is-size-3">Sign up for an account, create projects, add issues(bugs/features), and assign tasks to yourself.</p>
